<div class="row">
  <div class="col-xl-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" />
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- <input class="btn btn-success" type="summit">Add</input> -->
          <input class="btn btn-success btn-sm button" type="submit" value="Submit">
          <button class="btn btn-danger btn-sm button" type="button">Delete</button>
          <input class="btn btn-primary btn-sm button" type="reset" value="Clear">
        </div>
      </div>
    </form>
  </div>
</div>
